<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark py-0" style="height: 100px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/img/logo3.jpg" style="width: 150px; border: 5px outset #0549A8;
border-radius: 40px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg"
        aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg"
        aria-labelledby="navbarOffcanvasLgLabel">

        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body" style="justify-content: space-between;">
          <div class="navbar-nav justify-content-end mb-2 mb-md-0">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/products">Productos</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Categorías
              </a>
              <ul class="dropdown-menu" style="z-index: 2;">
                <li><a class="dropdown-item" href="/products?category=Home+%26+Kitchen">Bazar y cocina</a></li>
                <li><a class="dropdown-item" href="/products?category=Electronics">Electrónica</a></li>
                <li><a class="dropdown-item" href="/products?category=Furniture">Muebles</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li><a class="dropdown-item" href="/products?category=Clothing">Ropa</a></li>
                <li><a class="dropdown-item" href="/products?category=Beauty">Belleza</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/products?category=Sports">Deportes</a></li>

              </ul>
            </li>


          </div>
          <div class="navbar-nav smb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" href="/chat"><i class="fa-regular fa-comments"></i> Chat</a>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true"><i class="fa-regular fa-user"></i> Mi cuenta</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/carts/{{user.cart._id}}"><i class="fa-solid fa-cart-shopping"></i> Mi carrito</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/api/sessions/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log
                out</a>
            </li>
          </div>

        </div>

      </div>
    </div>
  </nav>
<div class="gradient-custom-3 fixed-top" style="margin-top: 100px; z-index: 1">
      <div id="carouselExample" class="carousel slide py-1 carousel-promo" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <p class="my-0">Nuevos productos todas las semanas</p>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <p class="my-0">20% off con Pago en Efectivo / Transferencia Codigo: EFECTIVO</p>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <p class="my-0">3 y 6 Cuotas sin interés con todas las tarjetas bancarias</p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <i class="fa fa-angle-left"></i>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <i class="fa fa-angle-right"></i>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</header>
<main>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="images p-3">
                                <div class="text-center p-4"> <img id="MainImg" src="../img/{{product.thumbnail.[0]}}"
                                        width="250" /> </div>
                                <div class="thumbnail text-center">
                                    <img class="small-img" src="../img/{{product.thumbnail.[0]}}" width="70">
                                    <img class="small-img" src="../img/{{product.thumbnail.[1]}}" width="70">
                                    <img class="small-img" src="../img/size.jpeg" width="70">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product p-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span
                                            class="ml-1">Volver a la tienda</span> </div>
                                </div>
                                <div class="mt-4 mb-3"> <span
                                        class="text-uppercase text-muted brand">{{product.category}}</span>
                                    <h5 class="text-uppercase">{{product.title}}</h5>
                                    <p>Código: {{product.code}}</p>
                                    <div class="price d-flex flex-row align-items-center">
                                        <span class="act-price">$ {{product.price}}</span>
                                    </div>
                                </div>
                                <p class="about">{{product.description}}</p>
                                <div class="sizes mt-5">
                                    <h6 class="text-uppercase">Talle</h6> <label class="radio"> <input type="radio"
                                            name="size" value="S" checked> <span>S</span> </label> <label class="radio">
                                        <input type="radio" name="size" value="M"> <span>M</span> </label> <label
                                        class="radio"> <input type="radio" name="size" value="L"> <span>L</span>
                                    </label> <label class="radio"> <input type="radio" name="size" value="XL">
                                        <span>XL</span> </label> <label class="radio"> <input type="radio" name="size"
                                            value="XXL"> <span>XXL</span> </label>
                                </div>
                                <p>Stock: {{product.stock}} unidades</p>
                                <div class="cart mt-4 align-items-center"> <button
                                        class="btn btn-dark gradient-custom-2 mb-3 text-uppercase mr-2 px-4 btn-shadow">Agregar al
                                        carrito</button> <i class="fa fa-heart text-muted mx-3"></i> <i
                                        class="fa fa-share-alt text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

<script src="/js/sproduct.js"></script>